body {
    background-color: lavenderblush;
}

.btn {
    background-color : white;
    color: hotpink;
    border:white;
}

.btn:hover {
    background-color: hotpink;
    transition: 0.7s;
    color: white;
}
